#!/bin/sh
# local configuration options
# Note: modify at your own risk!  If you do/use anything in this
# script that is not part of a stable API (relying on files to be in
# specific places, specific tools, specific output, etc) there is a
# possibility you will end up with a broken system after patching or
# upgrading.  Changes are not supported unless under direction of
# VMware support.

#----> vEMan VNC console <----#
cat > /etc/vmware/firewall/enablevnc.xml <<"__EOFVNC"
<!-- Firewall configuration information -->                         
<ConfigRoot>                                                        
 <!-- vEMan-Console -->
  <service id="1000">
  <id>vEMan-Console</id>
    <rule id='0000'>
      <direction>inbound</direction>
      <protocol>tcp</protocol>
      <porttype>dst</porttype>
      <port>
          <begin>5900</begin>
          <end>5999</end>
      </port>
    </rule>
    <enabled>true</enabled>
    <required>false</required>
   </service>
</ConfigRoot>
__EOFVNC

# We need a short sleep to make sure firewall reload works:
echo 'Activating custom ruleset..' && sleep 3s && esxcli network firewall unload && esxcli network firewall load && echo 'Activating ended successfully..'
#----> vEMan VNC console <----#

exit 0
